# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environments
venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# IDE files
.vscode/
.idea/

# Docker
*.dockerignore
*.env